.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: 552px;
  padding: 25px;

  background-color: red;
  border-radius: 20px;
}
