.default {
  padding: 6px 24px;
  background-color: inherit;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px 0 0 2px;

  &:hover {
    background-color: var(--color-dark-300);
  }

  &:focus {
    position: relative;
    background-color: var(--color-accent-500);
  }

  &:disabled {
    opacity: 0.5;
    background-color: var(--color-dark-300);
  }
}

.active {
  background-color: var(--color-accent-500);
}

.TabsRoot {
  display: flex;

  //flex-direction: column;
  width: 300px;
  box-shadow: 0 2px 10px var(--black-a4);
}

.TabsList {
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid var(--mauve-6);
}

.TabsTrigger {
  user-select: none;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  height: 45px;
  padding: 0 20px;

  font-family: inherit;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve-11);

  background-color: white;
}

.TabsTrigger:first-child {
  border-top-left-radius: 6px;
}

.TabsTrigger:last-child {
  border-top-right-radius: 6px;
}

.TabsTrigger:hover {
  color: var(--violet-11);
}

.TabsTrigger[data-state='active'] {
  color: var(--violet-11);
  box-shadow: inset 0 -1px 0 0 currentcolor, 0 1px 0 0 currentcolor;
}

.TabsTrigger:focus {
  position: relative;
  box-shadow: 0 0 0 2px black;
}

.TabsContent {
  flex-grow: 1;

  padding: 20px;

  background-color: white;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  outline: none;
}

.TabsContent:focus {
  box-shadow: 0 0 0 2px black;
}

.Text {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 1.5;
  color: var(--mauve-11);
}

.Fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  margin-bottom: 15px;
}

.Label {
  display: block;

  margin-bottom: 10px;

  font-size: 13px;
  line-height: 1;
  color: var(--violet-12);
}

.Input {
  flex: 1 0 auto;

  height: 35px;
  padding: 0 10px;

  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);

  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--violet-7);
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 35px;
  padding: 0 15px;

  font-size: 15px;
  font-weight: 500;
  line-height: 1;

  border-radius: 4px;
}

.Button.green {
  color: var(--green-11);
  background-color: var(--green-4);
}

.Button.green:hover {
  background-color: var(--green-5);
}

.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}